@import 'mixins.scss';

body{
	@include regular;
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.45;
	margin: 0;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	background: $offwhite;
	color: black;
}
body, html, .full-height{
	height: 100%;
}
a:hover, a:focus, a:active{
	text-decoration: none;
}
img{
	width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
/* Remove Bootstrap Margin*/
.navbar {
    margin-bottom: 0px;
}
/* Remove Bootstrap Margin*/

/* Centre Columns Functionality */
.row-centered {
    text-align:center;
}
.col-centered{
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
/* Centre Columns Functionality */

@media (max-width: 992px) {
	.sm-center{
		text-align: center;
	}
}
@media (max-width: 768px) {
	.xs-center{
		text-align: center;
	}
}